@import url("./lib/jquery.jgrowl.css");

.up2-message-success  {background-color: green !important;}
.up2-message-error  {background-color: brown !important;}
.up2-message-info  {background-color: black !important;}

.up2-page .up2-avatar, .up2-list-row .up2-avatar{
	_max-width: 100%;
	max-height: 100%;
	min-width: 100%;
}

.up2-page .up2-avatar-wrapper, .up2-list-row .up2-avatar-wrapper {
	height: 64px;
	width: 64px;
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
	background: #EFEFEF;
}

.up2-small-info .up2-avatar-wrapper {
	float: left;
}

.up2-page #sidebar .title {
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
}

.up2-page #sidebar {
	min-height: 300px;
	border-left: 1px solid #EFEFEF;
}

table.table.up2-user-info td {
	border: none;
}

.sidebar-block {
	margin-top: 40px;
}

#up2-user-edit p.help-block.message {
	min-height: 0px;
}

/* tabs left */
.tab-content {
	overflow: hidden;
}
.tab-pane {
	min-height: 150px;
}
.tabs-left > .nav-tabs {
	float: left;
	margin-right: 19px;
	border-right: 1px solid #DDD;
}
.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
	border-bottom: 0;
}
.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
	float: none;
}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
	border-color: #DDD rgba(0, 0, 0, 0) #DDD #DDD;
}
.tabs-left > .nav-tabs > li > a {
	margin-right: -1px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
	min-width: 74px;
	_margin-right: 0;
	margin-bottom: 3px;
}


.tabs-left .tab-pane p {
	min-height: 30px;
}